* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100 vh;
  font-family: Arial, sans-serif;
  background: url('download.gif') no-repeat center center fixed;
  background-size: cover;
  
  
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
}


.link-page {
  width: 90 %;
  max-width: 420 px;
  padding: 35 px 25 px;
  text-align: center;

  background: rgba (8, 0, 0, 0);
  border: 1 px solid rgba (255, 255, 255, 0.15);
  border-radius: 25 px;
  backdrop-filter: blur (12 px);

  box-shadow: 0 20 px 40 px rgba (0, 0, 0, 0.35);
}

.link-page{
    background: url('card.jpg') no-repeat center center fixed;
    background-size: 420 px 560 px;  
}

.link-page:hover {
  background: url('card.jpg') no-repeat center center fixed;
  transform: scale(1.05);
  transition: 0.3s ease;
  background-size: 420px 560px;  
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7),
              0 0 40px rgba(255, 255, 255, 0.35)            
  
  
  
}


.profile img {
  width: 115 px;
  height: 115 px;
  border-radius: 50 %;
  object-fit: cover;

  border: 3 px solid white;
  margin-bottom: 18 px;
}

.profile img:hover {

  transform: scale (1.3);
  border-color: #f9f8f8;
  box-shadow: 0 0 10 px white,
              0 0 20 px white,
              0 0 40 px white;
  transition: 0.3 s ease;
}

.profile h1 {
  font-size: 30 px;
  margin-bottom: 10 px;
}

.profile h1:hover {
  color: #f9f8f8;
  text-shadow: 0 0 10 px white,
               0 0 20 px white,
               0 0 40 px white;
  transition: 0.3 s ease;
}

.profile p {
  font-size: 15 px;
  color: #ffffff;
  line-height: 1.5;
  margin-bottom: 28 px;
}

.profile p:hover {
  color: #f9f8f8;
  text-shadow: 0 0 10 px white,
               0 0 20 px white,
               0 0 40 px white;
  transition: 0.3 s ease;
}



.links {
  display: flex;
  flex-direction: column;
  gap: 12 px;
}

.links a {
  text-decoration: none;
  color: white;
  font-size: 16 px;
  font-weight: 600;

  padding: 14 px;
  border-radius: 14 px;

  background: rgba (255, 255, 255, 0.12);
  border: 1 px solid rgba (255, 255, 255, 0.2);

  transition: 0.3 s ease;
}

.links a:hover {
  background: white;
  color: #020617;
  transform: scale (1.2);
  box-shadow: 0 0 20 px rgba (255, 255, 255, 0.7),
              0 0 40 px rgba (255, 255, 255, 0.35);

}


.links a:hover {
  opacity: 1;
}

@media (max-width: 480 px) {
  .link-page {
    padding: 28 px 20 px;
  }

  .profile h1 {
    font-size: 26 px;
  }

  .profile p {
    font-size: 14 px;
  }

  .links a {
    font-size: 15 px;
    padding: 13 px;
  }
}
